<!-- Start _includes/loop.html -->
<!-- Previous/next page links - only displayed on page 2+ -->
<div class="extra-pagination inner">
  {% if page.class == 'home-template' %}
      {% include pagination-post.html %}
  {% elsif page.class == 'page-template' %}
      {% include pagination-post.html %}
  {% elsif page.class == 'author-template' %}
      {% include pagination-author.html %}
  {% elsif page.class == 'tag-template' %}
      {% include pagination-tag.html %}
  {% else %}
      {% include pagination-post.html %}
  {% endif %}
</div>

<!-- This is the post loop - each post will be output using this markup -->
{% for post in paginator.posts %}
  <article class="post">
      <header class="post-header">
          <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </header>
      <section class="post-excerpt">
          <p>{{ post.description | strip_html | truncatewords: 26 }} <a class="read-more" href="{{ post.url }}">&raquo;</a></p>
      </section>
      <footer class="post-meta">
        {% if post.categories.size > 0 %}
            Filed Under:
            {% for category in post.categories %}
                {% if forloop.index == post.categories.size %}
                   <a href='/{{ category }}'>{{ category | capitalize }}</a>
                {% else %}
                   <a href='/{{ category }}'>{{ category | capitalize }}</a>,
                {% endif %}
            {% endfor %}
        {% endif %}
      </footer>
  </article>
{% endfor %}

<!-- Previous/next page links - displayed on every page -->
{% if page.class == 'home-template' %}
    {% include pagination-post.html %}
{% elsif page.class == 'page-template' %}
    {% include pagination-post.html %}
{% elsif page.class == 'author-template' %}
    {% include pagination-author.html %}
{% elsif page.class == 'tag-template' %}
    {% include pagination-tag.html %}
{% else %}
    {% include pagination-post.html %}
{% endif %}
<!-- End _includes/loop.html -->
