<!-- Start _includes/navigation.html -->
<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="nav-posts {% if page.current == 'posts' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <li class="nav-now {% if page.current == 'now' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/now.html">Now</a></li>
        <li class="nav-creativity {% if page.url contains 'creativity' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/creativity">Creativity</a></li>
        <li class="nav-engineering {% if page.url contains 'engineering' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/engineering">Engineering</a></li>
        <li class="nav-management {% if page.url contains 'management' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/management">Management</a></li>
        <li class="nav-programming {% if page.current == 'programming' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/programming">Programming</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}/rss.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
<!-- End _includes/navigation.html -->
