---
layout: default
disqus: false
title: Down The Rabbit Hole
navigation: true
logo: assets/images/logo-light.png
main-header: true
---
<!--archive-category.html -->

{% if page.url contains 'creativity' %}
   {% assign page_title='Creative' %}
   {% assign page_description='A spirit for creativity, imagination and adventure' %}
   {% assign cover='assets/images/cover3.jpg' %}
{% elsif page.url contains 'engineering' %}
   {% assign page_title='Engineering' %}
   {% assign page_description='A spirit for creativity, imagination and adventure' %}
   {% assign cover='assets/images/cover7.jpg' %}
{% elsif page.url contains 'management' %}
   {% assign page_title='Project Management' %}
   {% assign page_description='A spirit for creativity, imagination and adventure' %}
   {% assign cover='assets/images/cover4.jpg' %}
{% elsif page.url contains 'programming' %}
   {% assign page_title='Programming' %}
   {% assign page_description='A spirit for creativity, imagination and adventure' %}
   {% assign cover='assets/images/cover2.jpg' %}
{% endif %}

{% include header.html %}

<main class="content" role="main">
    <article class="post">

        <header class="post-header">
            <h3>Posts with the {{ page.type }} '{{ page_title }}'</h3>
        </header>

        <section class="post-content">
          <ul class="posts">
            {% for post in page.posts %}
              <li>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </section>

    </article>

</main>
