---
layout: default
title: Author
cover: 'assets/images/cover4.jpg'
class: 'author-template'
navigation: True
label: Author
logo: 'assets/images/ghost.png'
current: author
---

<header class="main-header author-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
</header>

<section class="author-profile inner">
    {% if site.image %}
    <figure class="author-image">
        <div class="img" style="background-image: url({{ site.baseurl }}{{ site.author.image }})"><span class="hidden">{{ site.author.nickname }}'s Picture</span></div>
    </figure>
    {% endif %}
    <h1 class="author-title">{{ site.author.nickname }}</h1>
    {% if site.bio %}
        <h2 class="author-bio">{{ site.author.bio }}</h2>
    {% endif %}
    <div class="author-meta">
        {% if site.author.location %}<span class="author-location icon-location">{{ site.author.location }}</span>{% endif %}
        {% if site.author.url %}<span class="author-link icon-link"><a href="{{ site.url }}">{{ site.author.short_url }}</a></span>{% endif %}
        <span class="author-stats"><i class="icon-stats"></i>{% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %}</span>
    </div>
</section>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    {% include loop.html %}

</main>
