---
layout: page
disqus: false
navigation: true
main-header: true
---
<!-- Start _layout/category.html -->
<!-- Previous/next page links - only displayed on page 2+ -->
<div class="extra-pagination inner">
  {% if page.class == 'home-template' %}
      {% include pagination-post.html %}
  {% elsif page.class == 'page-template' %}
      {% include pagination-post.html %}
  {% elsif page.class == 'author-template' %}
      {% include pagination-author.html %}
  {% elsif page.class == 'tag-template' %}
      {% include pagination-tag.html %}
  {% else %}
      {% include pagination-post.html %}
  {% endif %}
</div>

{% for post in page.posts %}
  <article class="post">
      <header class="post-header">
          <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </header>
      <section class="post-excerpt">
          <p>{{ post.content | strip_html | truncatewords: 26 }} <a class="read-more" href="{{ post.url }}">&raquo;</a></p>
      </section>
  </article>
{% endfor %}

<!-- Previous/next page links - displayed on every page -->
{% if page.class == 'home-template' %}
    {% include pagination-post.html %}
{% elsif page.class == 'page-template' %}
    {% include pagination-post.html %}
{% elsif page.class == 'author-template' %}
    {% include pagination-author.html %}
{% elsif page.class == 'tag-template' %}
    {% include pagination-tag.html %}
{% else %}
    {% include pagination-post.html %}
{% endif %}
<!-- End _layout/category.html -->
