---
layout: default
disqus: false
navigation: true
logo: assets/images/logo-light.png
main-header: true
---

{% if page.url contains 'creativity' %}
   {% assign page_title='Creative' %}
   {% assign page_description='A spirit for creativity, imagination and adventure' %}
   {% assign cover='assets/images/cover3.jpg' %}
{% elsif page.url contains 'engineering' %}
   {% assign page_title='Engineering' %}
   {% assign page_description='A spirit for creativity, imagination and adventure' %}
   {% assign cover='assets/images/cover7.jpg' %}
{% elsif page.url contains 'management' %}
   {% assign page_title='Project Management' %}
   {% assign page_description='A spirit for creativity, imagination and adventure' %}
   {% assign cover='assets/images/cover4.jpg' %}
{% elsif page.url contains 'programming' %}
   {% assign page_title='Programming' %}
   {% assign page_description='A spirit for creativity, imagination and adventure' %}
   {% assign cover='assets/images/cover2.jpg' %}
{% endif %}

{% include header.html %}

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

</main>
