---
layout: default
disqus: false
navigation: True
logo: 'assets/images/logo-light.png'
---
<!-- post.html -->
<header class="main-header post-head{% if page.cover %}" style="background-image: url({{ site.baseurl }}/{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="/"><img src="{{ site.baseurl }}/{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
</header>

<main class="content" role="main">

    <article class="post {{ post.subclass }}">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                {% if page.tags.size > 0 %}
                Tagged as:
                {% for tag in page.tags %}
                    {% if forloop.index == page.tags.size %}
                       <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>
                    {% else %}
                       <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>,
                    {% endif %}
                {% endfor %}
                {% endif %}
            </section>
        </header>

        <section class="post-content">

            {{ content }}

        </section>

        <footer class="post-footer">

            {% if site.image %}
            <figure class="author-image">
                <a class="img" href="{{ site.baseurl }}author/{{ site.author.nickname }}" style="background-image: url({{ site.baseurl }}{{ site.author.image }})"><span class="hidden">{{ page.author }}'s Picture</span></a>
            </figure>
            {% endif %}

            <section class="author">
                <h4><a href="{{ site.baseurl }}author/{{ site.author.nickname }}">{{ site.author.nickname }}</a></h4>

                <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>

                {% if site.bio %}
                    <p> {{ site.bio }}</p>
                {% else %}
                    <p>Read <a href="{{ site.baseurl }}author/{{ site.author.nickname }}">more posts</a> by this author.</p>
                {% endif %}
                <div class="author-meta">
                    {% if site.author.location %}<span class="author-location icon-location"> {{ site.author.location }}</span>{% endif %}
                    {% if site.author.url %}<span class="author-link icon-link"><a href="{{ site.author.url }}"> {{ site.short_url }}</a></span>{% endif %}
                </div>
            </section>

            <!-- /author  -->

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url | remove: '/' }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | remove: '/' }}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url | remove: '/' }}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

            <!-- Add Disqus Comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>

<aside class="read-next">

    {{ post.url | remove: '/' }}
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ site.baseurl }}/{{ page.next.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl }}{{ page.next.url }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{{ page.next.content | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ site.baseurl }}/{{ page.previous.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl }}{{ page.previous.url }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{{ page.previous.content | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
</aside>
