---
layout: default
disqus: false
navigation: True
logo: 'assets/images/logo-light.png'
---
<!-- Start _layout/post.html -->
{% include header.html %}

<main class="content" role="main">

    <article class="post {{ post.subclass }}">

        <header class="post-header">
            {% if page.main-header == false %}
                <h1 class="post-title">{{ page.title }}</h1>
            {% endif %}
            <section class="post-meta">
                {% if page.categories.size > 0 %}
                    Filed Under:
                    {% for category in page.categories %}
                        {% if forloop.index == page.categories.size %}
                           <a href='/{{ category }}'>{{ category | capitalize }}</a>
                        {% else %}
                           <a href='/{{ category }}'>{{ category | capitalize }}</a>,
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </section>
        </header>

        <section class="post-content">

            {{ content }}

        </section>

        <footer class="post-footer">
            
            {% include share.html %}

            <!-- Add Disqus Comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>

<aside class="read-next">

    {{ post.url | remove: '/' }}
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ page.next.cover | prepend:site.baseurl }}){% else %}no-cover{% endif %}" href="{{ page.next.url | prepend:site.baseurl }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{{ page.next.description | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ page.previous.cover | prepend:site.baseurl }}){% else %}no-cover{% endif %}" href="{{ page.previous.url | prepend:site.baseurl }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{{ page.previous.description | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
</aside>
<!-- End _layout/post.html -->
