---
layout: default
cover: 'assets/images/cover2.jpg'
class: 'tag-template'
navigation: True
logo: 'assets/images/ghost.png'
current: tag
---

<!-- < dynamically overriding backgrounds for tags as well as descriptions -->
{% if page.url contains 'fables' %}
   {% assign tag_description='A series of short stories that make you think.' %}
{% elsif page.url contains 'speeches' %}
    {% assign new_cover='assets/images/cover7.jpg' %}
    {% assign tag_description='Some of the greatest words ever spoken.' %}
{% elsif page.url contains 'fiction' %}
    {% assign new_cover='assets/images/cover1.jpg' %}
{% endif %}

{% include header.html %}

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

</main>
