---
layout: landing
title: Ian Teda
navigation: True
main-header: False
logo: /assets/images/logo-light.png
cover: /assets/images/cover-intro.jpg
current: home
---
<!-- Start ./index.html -->
<!-- The big featured header  -->
<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover | prepend:site.baseurl }}) {% else %}no-cover{% endif %}">
  <nav class="main-nav overlay clearfix">
    {% if page.logo %}
    <a class="blog-logo" href="/"><img src="{{ page.logo | prepend:site.baseurl }}" alt="Blog Logo" /></a>{% endif %} {% if page.navigation %}
    <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a> {% endif %}
  </nav>
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">{{ site.name }}</h1>
      <h2 class="page-description">{{ site.description }}</h2>
    </div>
  </div>
  <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45">
    <span class="hidden">Scroll Down</span>
  </a>
</header>

<!-- The main content area on the homepage -->
<main class="content" id="content" role="main">

  <article class="post">

    <section class="post-content">
      <p><img alt="Ian Teda photo" class="img-circle headshot" src="/assets/images/head-shot.png" title="Optional Title"/></p>

      <!-- All about Ian Teda, the elevator pitch -->
      <h3 id="it-about">About</h3>
      <p>
        <em>Hi, I am Ian Teda and this my story so far</em>
      </p>  

      <p>I have always enjoyed a good adventure, and cannot help but wonder what is around the next bend. The most rewarding adventure for me at the moment is raising my two young boys – Austin and Dillan , that I share with my beautiful wife Laura.</p>

      <p>I have been fortunate to work as a Civil Engineer on some amazing infrastructure projects within NSW and ACT Australia. Some highlights, that I am proud to say I worked on include: balanced cantilever segmental bridges; a dry well intake tower as part of a new RCC dam; bulk earthworks on Pacific Highway upgrade; and the manufacture of pre-tensioned bridge elements such as pile caps, Super T beams, blanks and RCBC. My hard work and dedication has comes with the satisfaction of seeing the fruits of my labours at the end of each day, seeing a project develop and be born into existence.</p>

      <p>
        Find out what I am up to <a href="now.html">now</a>.
      </p>

      <!-- What do I value, my principles. Why should you buy from me -->
      <h3 id="it-code">Code</h3>

      <p>
        <em>What I am trying to live by</em>
      </p>

      <blockquote>
        <p>I choose to be authentic through honesty, integrity and transparency. With a spirit for creativity, imagination and adventure. Seeking personal growth by being curious, learning and reflecting. Looking for freedom through the discipline of habit. But most of all I am trying to be useful by adding value in what I do.
          <cite>– Ian Teda</cite>
        </p>
      </blockquote>

      <!-- What are my products. What can people buy from me -->
      <h3 id="it-skills">Skills</h3>

      <p>
        <em>My curiosity has lead to skills in</em>
      </p>

      <h5 id="i-classfa-fa-briefcasei-project-managementmanagement">
        <i class="fa fa-briefcase"></i>
        <a href="/management">Project Management</a>
      </h5>
      <p>Cost Management, Scheduling, Estimating, Community, &amp; Contract Management</p>

      <h5 id="i-classfa-fa-building-oi-engineeringengineering">
        <i class="fa fa-building-o"></i>
        <a href="/engineering">Engineering</a>
      </h5>
      <p>Bridges, Drainage, Dams, Water, Precast, Earthworks, Drill &amp; Blast, &amp; Structures</p>

      <h5 id="i-classfa-fa-desktopi-programmingprograming">
        <i class="fa fa-desktop"></i>
        <a href="/programming">Programming</a>
      </h5>
      <p>Web Design, Javascript, Java (Andriod), SQL &amp; MongoDB</p>

      <h5 id="i-classfa-fa-bullseyei-creativecreative">
        <i class="fa fa-bullseye"></i>
        <a href="/creativity">Creativity</a>
      </h5>
      <p>Videography, Photography, Maker (Arduino, Raspberry Pi) &amp; Music</p>

      <!-- Featured products. Time to sell something -->
      <h3 id="it-featured">Featured Posts</h3>
      <aside class="read-next featured">
        {% assign featured_posts = (site.posts|where:"featured","true") %}
        {% for post in featured_posts limit:2 %}
        <a class="read-next-story featured-story {% if post.cover %}" href="{{ post.url | prepend:site.baseurl }}" style="background-image: url({{ post.cover | prepend:site.baseurl }}){% else %}no-cover{% endif %}">
          <section class="post">
            <h4>{{ post.title }}</h4>
            <p>{{ post.description | truncatewords:15 }}</p>
          </section>
        </a>
        {% endfor %}
      </aside>

      <p>
        <a href="/blog">Checkout the list of blog posts</a>
      </p>

      <!-- Get in contact with me -->
      <h3 id="connect">Connect</h3>

      <p>
        <em>Feel free to connect</em>
      </p>

      <ul class="about-list-social">
        <li>
          <a href="https://twitter.com/IanTeda">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://github.com/IanTeda">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://vimeo.com/ianteda">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://au.linkedin.com/in/ianteda">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/ian.teda">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="mailto:ian@teda.id.au">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>

    </section>

  </article>

</main>
<!-- Finish ./index.html -->
