@charset "utf-8";

/*!
main.scss
Add extra styles here
*/

/* Instagram Feed */
    #ig-wrapper {
        background: #242629;
    }

    #ig-main .ig-thumb {
        -moz-transition-delay: 2.525s;
        -webkit-transition-delay: 2.525s;
        -ms-transition-delay: 2.525s;
        transition-delay: 2.525s;
        height: calc(40vh - 2em);
        min-height: 20em;
        width: 25%;
    }

/* Turn a square image into a circle */
.img-circle {
    border-radius: 50%;
}

img.book-cover {
  box-shadow: 0 2px 7.68px .32px rgba(0, 0, 0, 0.4),0 12px 26px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  background-color: #FFF;
  padding: 0;
  width: 279px;
  height: 406px;
} 

@media only screen and (max-width: 500px) {
  .headshot {
    width: 60% !important;
  }
  img.book-cover {
    width: 279px;
    height: 406px;
  }
}

@media only screen and (min-width: 500px) {

}

/* Social links in about.html, list horizontal */
.about-list-social {
    padding: 0;
    margin: 0;
    display: inline;
    a {
        text-decoration: none;
    }
    li {
        list-style-type: none;
        display: inline;
        padding-right: 20px;
    }
}

.featured {
    margin:0 -5rem 1.7em -5rem;
}

@media only screen and (max-width: 500px) {
    .featured {
        margin:0 0 1.7em 0;
    }
}

.featured-story .post:before {
    display: none;
}

.featured-story h4 {
    margin-top: 1rem;
    color: #fff;
}

.featured-story:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    transition: all 0.5s ease;
}

.no-underline {
    text-decoration: none;
}

.post-footer .share a {
    margin: 1rem 1rem 1.6rem 0;
}

.post-footer .share .share-twitter:hover {
    color: #55acee;
}

.post-footer .share .share-facebook:hover {
    color: #3b5998;
}

.post-footer .share .share-google-plus:hover {
    color: #dd4b39;
}

.post-footer .share .share-linkedin:hover {
    color: #007bb6;
}
