@charset "utf-8";

/*!
main.scss
Add extra styles here
*/

/* Turn a square image into a circle */
.img-circle {
    border-radius: 50%;
}

/* Social links in about.html, list horizontal */
.about-list-social {
    padding: 0;
    margin: 0;
    display: inline;
    a {
        text-decoration: none;
    }
    li {
        list-style-type: none;
        display: inline;
        padding-right: 20px;
    }
}

.featured {
    margin:0 -5rem 1.7em -5rem;
}

@media only screen and (max-width: 500px) {
    .featured {
        margin:0 0 1.7em 0;
    }
}

.featured-story .post:before {
    display: none;
}

.featured-story h4 {
    margin-top: 1rem;
    color: #fff;
}

.featured-story:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s ease;
}

.no-underline {
    text-decoration: none;
}
